<!-- <div class="mt-7">
  <carousel>
    <slide>
      <img src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div> -->

<div class="mt-7">
    <div class="card">
      <div class="card-body">
        <br>
        <br>
        <p class="title">Welcome To The Demo!</p>
        <br>
        <br>
        <p class="description">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <p class="description">"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
          <!-- <fusioncharts
            width = "500"
            height = "350"
          >
        </fusioncharts> -->
      </div>
    </div>
</div>

<div class="container-fluid mt-2">
  <tabset>
    <tab heading="2D Charts" id="tab1">
      <app-charts-one></app-charts-one>
    </tab>
    <tab heading="3D Charts">
      <app-charts-two></app-charts-two>
    </tab>
    <tab heading="Tables">
      <app-tables></app-tables>
    </tab>
  </tabset>
</div>
