slide{
   max-height: 230px;
  }

tabset{
  font-size: large;
}

.title {
  text-align: center;
  color: white;
  font-size: xx-large;

}

.description {
  text-align: center;
  color: white;
  font-size: large;
}

.card {
  background: #212529;
  height : 230px;
}

