<div class="row mt-3">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Donut in 3D</h3>
        <fusioncharts
          width = "400"
          height = "350"
          [type]="type"
          [dataFormat]="dataFormat"
          [dataSource]="dataSource"
        >
        </fusioncharts>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Donut in 3D</h3>
        <fusioncharts
        width = "400"
        height = "350"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="dataSource"
      >
      </fusioncharts>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Donut in 3D</h3>
        <fusioncharts
          width = "400"
          height = "350"
          [type]="type"
          [dataFormat]="dataFormat"
          [dataSource]="dataSource"
        >
        </fusioncharts>
      </div>
    </div>
  </div>
</div>
