<!-- <div>
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID Nation</th>
          <th scope="col">ID Year</th>
          <th scope="col">Nation</th>
          <th scope="col">Population</th>
          <th scope="col">Slug Nation</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of usaData">
          <th scope="row">{{data['ID Nation']}}</th>
          <td>{{data['ID Year']}}</td>
          <td>{{data.Nation}}</td>
          <td>{{data.Population}}</td>
          <td>{{data['Slug Nation']}}</td>
          <td>{{data.Year}}</td>
        </tr>
      </tbody>
    </table>
</div> -->


<div class="row mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Table 1</h3>
        <table class="table table-striped">
          <thead>
            <tr class="table-dark">
              <th scope="col">ID Nation</th>
              <th scope="col">ID Year</th>
              <th scope="col">Nation</th>
              <th scope="col">Population</th>
              <th scope="col">Slug Nation</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of usaData">
              <th scope="row">{{data['ID Nation']}}</th>
              <td>{{data['ID Year']}}</td>
              <td>{{data.Nation}}</td>
              <td>{{data.Population}}</td>
              <td>{{data['Slug Nation']}}</td>
              <td>{{data.Year}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Table 2</h3>
        <table class="table table-striped">
          <thead>
            <tr class="table-dark">
              <th scope="col">ID Nation</th>
              <th scope="col">ID Year</th>
              <th scope="col">Nation</th>
              <th scope="col">Population</th>
              <th scope="col">Slug Nation</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of usaData">
              <th scope="row">{{data['ID Nation']}}</th>
              <td>{{data['ID Year']}}</td>
              <td>{{data.Nation}}</td>
              <td>{{data.Population}}</td>
              <td>{{data['Slug Nation']}}</td>
              <td>{{data.Year}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




